.modal {
  color: white;
  width: 600px;
  height: 300px;
  border: 2px solid gray;
  margin-bottom: 50px;
  background-color: rgba(255,0,0, 0.8);
}

.modal-header {
  background-color: #b8180b;
  padding: 30px;
  font-size: 24px;
}

.modal-body {
  Padding: 40px;
  font-size: 20px;
}

.modal-text {
  padding-bottom: 40px;
}
